default_install_hook_types:
  - pre-commit
repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [ "--profile", "black" ]
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [ "--line-length", "119" ]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: [ '-c', '.bandit.yml', '-r' ]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [ flake8-annotations ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.20.0
    hooks:
      - id: gitleaks