name: auto-merge

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Automatically merge minor version updates from Dependabot
        uses: fastify/github-action-merge-dependabot@v3
        with:
          target: minor
          merge-method: rebase
          use-github-auto-merge: true
